In [118]:
import pandas as pd
import json
from yahoo_fin.stock_info import get_data

In [158]:
df = get_data("TSLA", start_date="10/20/2000", end_date="10/25/2023", index_as_date = True, interval="1d")

In [159]:
prices = pd.DataFrame(df[['open', 'close']].mean(axis = 1)).rename(columns = {0 : 'price'})
# prices['date'] = pd.to_datetime(prices['date'])
# prices = prices.set_index('date')
prices = prices.reset_index().rename(columns = {'index' : 'date'})

In [161]:
with open("tweets_utf8.txt", "r") as file:
    # –í–µ—Å—å —Ñ–∞–π–ª —Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è –≤ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É
    file_contents = file.read()

# –í–∞—à–∏ –∏—Å—Ö–æ–¥–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏ –≤ —Ç–µ–∫—Å—Ç–æ–≤–æ–º —Ñ–æ—Ä–º–∞—Ç–µf
text_data = file_contents
# –†–∞–∑–¥–µ–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ –∏—Ö –≤ —Å–ø–∏—Å–æ–∫ JSON-–æ–±—ä–µ–∫—Ç–æ–≤
json_list = [json.loads(line) for line in text_data.strip().split('\n')]

# –ó–∞–¥–∞–π—Ç–µ –∏–º—è —Ñ–∞–π–ª–∞, –≤ –∫–æ—Ç–æ—Ä—ã–π –≤—ã —Ö–æ—Ç–∏—Ç–µ –∑–∞–ø–∏—Å–∞—Ç—å JSON
output_file = "output.json"

# –ó–∞–ø–∏—Å—å —Å–ø–∏—Å–∫–∞ JSON-–æ–±—ä–µ–∫—Ç–æ–≤ –≤ —Ñ–∞–π–ª –≤ —Ñ–æ—Ä–º–∞—Ç–µ JSON
with open(output_file, "w") as json_file:
    json.dump(json_list, json_file, indent=4)

tweets = pd.read_json('output.json')

In [162]:
# #–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ —Ç–≤–∏—Ç–æ–≤
tweets['id_value'] = tweets['user'].apply(lambda user_dict: user_dict.get('id'))
tweets = tweets.query("@tweets.id_value == 13298072")
tweets = tweets[['date', 'rawContent']]
tweets['date'] = pd.to_datetime(tweets.date).dt.date
tweets = tweets.rename(columns = {'rawContent' : 'text'})
tweets['date'] = pd.to_datetime(tweets['date'])
tweets = tweets.set_index('date')

In [163]:
tweets = tweets.drop_duplicates()

In [164]:
prices = prices.drop_duplicates()
prices = prices.dropna(subset=['price'])

In [165]:
#–û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ —Ç–≤–∏—Ç–æ–≤ —Å –¥–∞—Ç–∞—Å–µ—Ç–æ–º –±–∏—Ä–∂–∏ (–ø–æ–ø—Ä–∞–≤–∏—Ç—å, —Ç–∫ —Å–µ–π—á–∞—Å —Ç–∞–º —Ç–æ–ª—å–∫–æ –¥–Ω–∏, –∫–æ–≥–¥–∞ –±—ã–ª–∏ —Ç–≤–∏—Ç—ã and —Ä–∞–±–æ—Ç–∞–ª–∞ –±–∏—Ä–∂–∞)
# merged_df = pd.merge(tweets, prices, left_index=True, right_index=True, how='left')
merged_df = prices.merge(tweets, on='date', how='left')

In [167]:
#–í—ã—á–∏—Å–ª–µ–Ω–∏–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞ k –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–≤–∏—Ç–∞ + –ø–æ—Å—Ç–æ–±—Ä–∞–±–æ—Ç–∫–∞ –æ–±—É—á–∞—é—â–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞
merged_df['price_tommorow'] = merged_df['price'].shift(-1)
merged_df['k'] = merged_df['price_tommorow'] / merged_df['price']
merged_df = merged_df.drop(['price_tommorow', 'price'], axis = 1)
merged_df = merged_df[:-1]
merged_df = merged_df.dropna(subset=['text'])
merged_df = merged_df.drop('date', axis = 1)
# merged_df['text'].fillna('No tweet', inplace=True)

In [173]:
merged_df

           date                                               text         k
501  2012-06-22  Model S on its way out! #TeslaDeliveries http:...  1.009941
2257 2019-06-18  Your next charging session is going to be SO üëè...  1.000000
2258 2019-06-18  Pit crew sold separately. Visit our stores for...  1.000000
2259 2019-06-18  Beach Buggy Racing 2 by @vectorunit is startin...  0.995766
2261 2019-06-20  Converting petrolheads, one Supercharger at a ...  0.989743
...         ...                                                ...       ...
3597 2023-10-12  In the US, Model 3 lease now starts at $329/mo...  0.977443
3598 2023-10-13                            https://t.co/0pQmU2Opyx  0.988138
3600 2023-10-17  Tesla Full Self-Driving capability demo¬†in Aus...  0.981048
3601 2023-10-18      Q3 2023 Earnings Call https://t.co/eSwixzYTJD  1.000000
3602 2023-10-18  Q3 Shareholder Update ‚Üí https://t.co/fvAaI97Wo...  0.900440

[621 rows x 3 columns]

In [106]:
#–°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –æ–±—É—á–∞—é—â–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ 
merged_df.to_csv('tesla_tweets.csv', index=False)

In [364]:
#–°–æ—Ö—Ä–∞–Ω–∏–ª —Ç–≤–∏—Ç—ã —Ç–µ—Å–ª—ã, —Ç–∫ –ø—Ä–µ–≤—ã—Å–∏–ª –∫–æ–ª-–≤–æ –∑–∞–ø—Ä–æ—Å–æ–≤ –Ω–∞ —é—Ö—É –∏ –±–æ–ª—å—à–µ –ø–æ–∫–∞ —Å–ø–∞—Ä—Å–∏—Ç—å –Ω–µ —Å–º–æ–≥—É((
prices.to_csv('prices_tesla_2000to2023.csv', index=False)